@using Demo.Persentation.ViewModels.AccountViewModels
@model LogInViewModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>LogIn</h1>

<div class="main-w3layouts wrapper">
    <h1></h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="All">
                </div>


                <input asp-for="Email" placeholder="Email" required="">
                <input asp-for="Password" placeholder="Password" required="">
                <div class="wthree-text">
                    <label class="anim">
                        <input type="checkbox" class="checkbox" asp-for="RememberMe" required="">
                        <span>Remember Me!</span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="LogIn">
            </form>
            <p><a asp-action="ForgetPassword"> Forget Password?</a></p>
            <p>Do Not Have an Account? <a asp-action="Register"> Register!</a></p>

        </div>
    </div>

</div>

